.virtual-link
    cursor pointer

.full-width
    width 100%

.space-right
    margin-right 5px

user-select(args...)
    -moz-user-select args
    -webkit-user-select args
    -ms-user-select args

.menu-panel
    pointer-events none

.panel-group
    pointer-events auto

.clique-panel .panel-heading
    padding 3px

.clique-panel .panel-title
    font-size 14px
    color black

.clique-panel .panel-heading a
    text-decoration none

.select-ok
    user-select text

.handle
    stroke gray
    opacity 0.0

.handle.hovering
    stroke gray
    opacity 0.3

.handle.selected
    stroke gray
    opacity 0.7

.handle.selected.hovering
    stroke gray
    opacity 0.8

.handle.focused
    stroke red
    opacity 0.5

.handle.focused.hovering
    stroke red
    opacity 0.6

.ui-autocomplete
    max-height 200px
    max-width 300px
    overflow-y auto
    overflow-x hidden
    z-index 1100

html, body
    height 100%

#content
    width 100%
    height 100%
    background-color aliceblue
    position fixed
    top 64px
