doctype html
head
    title Placeholder page

    script(src="https://code.jquery.com/jquery-1.11.2.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js")
    script(src="http://d3js.org/d3.v3.min.js" charset="utf-8")
    script(src="http://marvl.infotech.monash.edu/webcola/cola.v3.min.js")

    script(src="cliquefix.min.js")
    script(src="index.min.js")

body
    h1 Test Header
    svg(width="500" height="500" style="background-color: aliceblue")#content
