include mixin/panel.jade

doctype html
head
    title Clique

    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="bower_components/underscore/underscore-min.js")
    script(src="bower_components/backbone/backbone-min.js")
    script(src="bower_components/d3/d3.min.js" charset="utf-8")
    script(src="bower_components/webcola/WebCola/cola.min.js")
    script(src="plugin/tangelo/tangelo.js")

    link(rel="stylesheet" href="bower_components/bootswatch/paper/bootstrap.min.css")
    link(rel="stylesheet" href="index.css")

    script(src="clique.js")
    script(src="plugin/mongo/mongo.js")
    script(src="plugin/mongo-xdata/mongo.js")

    script(src="index.js")

body
    nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                a.navbar-brand Clique Demo

    svg(oncontextmenu="return false;")#content

    +panel("query", "Query")(style="width:380px; position:absolute; left:10px")
        .row
            .col-md-12
                h4 Add neighborhood
                .row
                    .col-md-2 Name
                    .col-md-1 #[input#name]
                .row
                    .col-md-2 Radius
                    .col-md-1 #[input#radius]
                .row
                    .col-md-12.col-md-offset-1
                        label #[input(type="checkbox")#delsearch] Include deleted nodes
                .row
                    .col-md-1
                        a.btn.btn-default#seed Query
        .row
            .col-md-12
                h4 Graph operations
                .row
                    .col-md-1
                        button(type="button")#save.btn.btn-info.btn-xs Save #[span.glyphicon.glyphicon-save]
        .row
            .col-md-12
                h4 Selection Operations
                #info
