mixin item(key, value)
    tr
        td.text-right: strong= key
        td= value

.container
    if _.isUndefined(node)
        em (Selection is empty)
    else
        nav
            ul.pagination
                li.disabled.prev
                    a(aria-label="Previous").virtual-link.prev
                        span(aria-hidden="true") &laquo;
                li.disabled.next
                    a(aria-label="Next").virtual-link.next
                        span(aria-hidden="true") &raquo;
        .container
            .row
                .col-md-1
                    table.table.table-striped.table-bordered
                        +item("key", node.key)
                        for prop in _.filter(_.keys(node), _.negate(_.bind(clique.ignore.has, clique.ignore)))
                            +item(prop, node[prop])
            .row
                .col-md-1
                    button(type="button").btn.btn-danger.btn-xs.remove Remove #[span.glyphicon.glyphicon-remove]
                .col-md-1
                    button(type="button").btn.btn-primary.btn-xs.expand Expand #[span.glyphicon.glyphicon-fullscreen]
