mixin item(key, value)
    tr
        td.text-right: strong= key
        td= value

.container
    if _.isUndefined(node)
        em (Selection is empty)
    else
        nav
            ul.pagination
                li.disabled.prev
                    a(aria-label="Previous").virtual-link.prev
                        span(aria-hidden="true") &laquo;
                li.disabled.next
                    a(aria-label="Next").virtual-link.next
                        span(aria-hidden="true") &raquo;
        .container
            .row
                .col-md-1
                    table.table.table-striped.table-bordered
                        +item("key", node.key)
                        for prop in _.filter(_.keys(node), _.negate(_.bind(clique.ignore.has, clique.ignore)))
                            +item(prop, node[prop])
            .row
                h5 Node
                button(type="button").space-right.btn.btn-info.btn-xs.remove Hide #[span.glyphicon.glyphicon-eye-close]
                if node.deleted
                    button(type="button").space-right.btn.btn-danger.btn-xs.delete Undelete #[span.glyphicon.glyphicon-remove]
                else
                    button(type="button").space-right.btn.btn-danger.btn-xs.delete Delete #[span.glyphicon.glyphicon-remove]
                button(type="button").btn.btn-primary.btn-xs.expand Expand #[span.glyphicon.glyphicon-fullscreen]

            if selectionSize > 1
                .row
                    h5 Selection
                    button(type="button").space-right.btn.btn-info.btn-xs.remove-sel Hide #[span.glyphicon.glyphicon-eye-close]
                    button(type="button").space-right.btn.btn-danger.btn-xs.delete-sel Delete #[span.glyphicon.glyphicon-remove]
                    button(type="button").btn.btn-primary.btn-xs.expand-sel Expand #[span.glyphicon.glyphicon-fullscreen]
