.virtual-link
    cursor pointer

.full-width
    width 100%

.space-right
    margin-right 5px

.clique-panel .panel-heading
    padding 3px

.clique-panel .panel-title
    font-size 14px
    color black

.clique-panel .panel-heading a
    text-decoration none
